body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a88f2b;
    color: white;
    padding: 1em;
    flex-wrap: wrap; /* Ajouter pour améliorer la flexibilité */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding: 1em; /* Ajouter un padding pour éviter que le contenu soit collé au bord */
}

h1 {
    margin: 0;
    font-size: 2vw;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.tea a:hover, .tea a:visited, .tea a:link, .tea a:active {
    text-decoration: none;
    color: inherit;
}

/* conteneur searchbar */
#search-container {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    width: 325px;
    height: 50px;
}

/* input et bouton à côté l'un de l'autre */
input[type="text"], button {
    margin: 0;
    border: none;
    height: 50px;
}

input[type="text"] {
    padding-left: 20px;
    border-radius: 25px 0 0 25px;
    font-size: 15px;
    flex-grow: 1; /* Permet à l'input de grandir */
}

button {
    background-color: #333;
    color: white;
    padding: 0 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

button:hover {
    background-color: #4e4d4d;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 960px;
}

.film-item {
    flex-basis: 20%;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    font-size: 15px;
    width: 100%;
    max-width: 185px;
    height: auto;
}

.film-item img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

.film-item:hover {
    background-color: #f9f9f9;
}

#details {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
}

/* Media Query pour les écrans de téléphone (largeur jusqu'à 600px) */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }

    .tea {
        font-size: 35px;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 20px;
    }

    #search-container {
        width: 90%;
        margin: 0 auto 20px;
        justify-content: center;
    }

    input[type="text"], button {
        height: 40px;
    }

    #results {
        padding: 10px;
        flex-direction: column;
        align-content: center;
    }

    .film-item {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .film-item img {
        height: auto;
    }

    #details {
        padding: 10px;
    }
}

/* Media Query pour les tablettes (largeur jusqu'à 900px) */
@media (max-width: 900px) {
    header {
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }

    .tea {
        font-size: 30px;
    }

    h1 {
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 15px;
    }

    #search-container {
        width: 80%;
        margin: 0 auto 15px;
        justify-content: center;
    }

    input[type="text"], button {
        height: 45px;
    }

    #results {
        padding: 15px;
        flex-direction: column;
        align-content: center;
    }

    .film-item {
        flex-basis: 45%;
        margin-bottom: 15px;
    }

    .film-item img {
        height: auto;
    }

    #details {
        padding: 15px;
    }
}